Option length checking

Some options need to have their payload length in a specific range.
If an option is received that has a payload length outside that range, it needs to be treated like an unknown option. [[RFC 7252 Section 5.4.3](https://tools.ietf.org/html/rfc7252#section-5.4.3)]